/*프리텐다드 폰트 불러오기 (눈누)*/
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*폰트 적용*/
html > body {
    font-family: "iceJaram-Rg";
}

textarea{
    width: 100%;
}

input[type=submit]{
    margin-top: 10px;
}